.modalWrapper {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 70%;
  height: 600px;
  z-index: 9999;
  overflow: hidden;
  box-shadow: 5px 10px 18px #888888;
  .modalHeader {
    background-color: #003087;
    display: flex;
    justify-content: space-between;
    div {
      padding: 10px;
      color: #fff;
    }
  }
  .modalContent {
    padding: 30px;
    overflow: scroll;
    height: 600px;
  }
}
