.logout {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: #0072ce;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  &:focus {
    border: none;
  }
  &:hover {
    text-decoration: underline;
    background-color: darken(#0072ce, 14%);
  }
}
